<!DOCTYPE html>

<head>
    <title>Performance Assessment System</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="homepage/style.css">
</head>

<body>
  <!--side navigation-->
    <div id="mySidenav" class="sidenav">
        <button class="closebtn" onclick="closeNav()">&times;</button>
        <a href="#">Home</a>
        <!--<div class="selectdropdown">
            <button onclick="selectdrop()" class="selectdropbtn">Select the plant
                <b class=downcaret>&#155;</b>
            </button>
            <div id="myDropdown" class="select-content">
              <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
              <a href="#">Brazilien</a>
              <a href="#">China</a>
              <a href="#">Indien</a>
              <a href="#">USA</a>
            </div>
        </div>-->
        <div class="plant-select">
                <select>
                    <option value="0">Select the plant:</option>
                    <option value="1">Brazilien</option>
                    <option value="2">China</option>
                    <option value="3">Indien</option>
                    <option value="4">USA</option>
                </select>
        </div>
        <button class="dropdown-btn">Services
            <b class=downcaret>&#155;</b>
        </button>
        <div class="dropdown-container">
            <a href="#">Capacities</a>
            <a href="#">Delivery</a>
        </div>

        <a href="#">Contact</a>
    </div>
    <!--content-->
    <div id="main">
      <!--top navigation-->
      <div class="topnav" id="myTopnav">
        <button class="menubtn" onclick="openNav()">&nbsp;&#9776;</button>
        <a href="modeling.html">Modeling and Simulation</a>
        <a href="javascript:void(0);" class="icon" onclick="topdrop()">
          <b class=downcaret>&#155;</b>
        </a>
      </div>
      <div id=app>
        <div class="container">
          <img class="card" src="homepage/card.png" alt="">
          <status-element v-bind:initial_pos_x="15" v-bind:initial_pos_y="52"  v-bind:init_name="'USA'" v-on:msg-from-child="receiveMsg">
          </status-element>
          <status-element v-bind:initial_pos_x="28" v-bind:initial_pos_y="12"  v-bind:init_name="'Brazilien'" v-on:msg-from-child="receiveMsg">
          </status-element>
          <status-element v-bind:initial_pos_x="71" v-bind:initial_pos_y="35" v-bind:init_name="'Indien'" v-on:msg-from-child="receiveMsg">
          </status-element>
          <status-element v-bind:initial_pos_x="85" v-bind:initial_pos_y="50" v-bind:init_name="'China'" v-on:msg-from-child="receiveMsg">
          </status-element>
          <div id="bottombar">
              <a class="statustext">current Revenue: {{sumRev}} €</a>
              <a class="statustext">max achievable Revenue: {{maxRev}} €</a>
              <a class="statustext">Loss: {{sumLoss}} €</a>
            </div>
        </div>
      </div>     
    </div>

    <script src="/dist/vue.js" type="text/javascript"></script>
    <!--<script src="/dist/vue-slider-component.umd.min.js" type="text/javascript"></script>
    <script src="/dist/vue-slider.umd.js" type="text/javascript"></script>
    script src="https://unpkg.com/element-ui/lib/index.js"></script>-->




<!--<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function selectdrop() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    function filterFunction() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      div = document.getElementById("myDropdown");
      a = div.getElementsByTagName("a");
      for (i = 0; i < a.length; i++) {
        txtValue = a[i].textContent || a[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          a[i].style.display = "";
        } else {
          a[i].style.display = "none";
        }
      }
    }
</script>-->

    <script type="text/x-template" id="status-template">
        <div class="status_element" :style="[{'left': posx + '%', 'bottom': posy + '%'}]">
                <div class="row">
                    <div class="block" :style="[{'width': '3px', 'height': demand + 'px', 'background-color': '#FF0000', 'transition':'0.5s'}]"></div>
                    <div class="block" :style="[{'width': '3px', 'height': capa + 'px', 'background-color': '#333333'}]"></div>              
                </div>
                <img src="homepage/flash.png" height="20px" width="20px" :style="[{'visibility': showBolt}]">
                <p width="fit-content">{{init_name}}</p>
                <p>Revenue:{{rev}}€  Loss:{{loss}}€</p>
            </div>
    </script>


<script src="homepage/main.js" type="text/javascript"></script>
</body>

</html>